*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sidebars{
    position: relative;
    display: flex;
    
}
.left-bar{
    position: absolute;
    background-color:rgb(202, 214, 224);
    height: 100vh;
    width: 10%;
left: 0;
    margin-top: 20px 10px;
    overflow-y: scroll;
   
}
.mid-bar{
    position: absolute;
    background-color: rgb(190, 190, 245);
    height: 100vh;
    width: 40px;
    right: 33%;
    margin-top: 20px;
    overflow-y: scroll;
    /* background-image: url('Assest\html-illustration.png'); */

}
.right-bar{
    position: absolute;
    background-color: rgb(240, 222, 222);
    height: 100vh;
    width: 20%;
    right: 0;
    margin-top: 20 10px;
    overflow-y: scroll;
  
  
}
.list{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 5px;
    width: 500px;
    
}
.list:hover{
    color: white;
    background-color: blueviolet;
    text-align: center;
}
.list-group-item{
    text-align: center;
}
.nav_bar{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

